/* cycle-colours/src/admin-style.css */
#cycle-colours-toggle {
    min-width: 200px;
    margin-bottom: 10px;
    background-color: aqua;
}

#palettes-settings,
#div-settings {
    margin-bottom: 20px;
}

.cycle-colours-custom-colours {
    display: block;
    padding: 0.5rem;
}

.cycle-colours-debugging {
    background-color: rgb(245, 234, 161);
    padding: 0.75rem;
    border-radius: 5px;
}

.cycle-colours-errors {
    background-color: #f8d7da;
    color: #721c24;
}

.cycle-colours-messages {
    background-color: #d4edda;
    color: #155724;
    font-style: italic;
}

.cycle-colours-errors,
.cycle-colours-messages {
    padding: 10px;
    border-radius: 5px;
    font-size: 40px;
    text-wrap: wrap;

    p {
        font: 400 16px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    }
}

.cycle-colours-buttons-wrap {
    display: flex;
    flex-direction: row;
    width: 100%;

}