/* cycle-colours/src/admin-style.css */
/* Admin styles for Cycle Colours plugin */

body {
    font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 0.875rem;
    line-height: 1.25;
    max-width: 60rem;

}

h1 {
    font-size: 2rem;
    color: #534242;
}

h2 {
    font-size: 1.5rem;
    color: #0f1383;
    margin-bottom: 0;
}

p {
    font-size: 0.875rem;
}

.cycle-colours-wrap {
    padding: 0 1rem 0rem 1rem;
    margin: 0 1rem 0 0;

}

#cycle-colours-toggle {
    min-width: 200px;
    margin-bottom: 10px;
    background-color: aqua;
}

#palettes-settings,
#div-settings {
    margin-bottom: 20px;
}

.cycle-colours-custom-colours {
    display: block;
    padding: 0.5rem;
}

.button {
    box-shadow: 0px 3px 10px rgba(248, 248, 148, 0.9), 0px 5px 8px rgba(42, 38, 255, 0.9);
}

.cycle-colours-info {
    background-color: #f0f8ff;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    margin: 20px 0;
    box-shadow: 0px 2px 5px rgba(8, 4, 248, 0.1);
}

.cycle-colours-debugging {
    background-color: rgb(245, 234, 161);
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

.cycle-colours-errors {
    background-color: #f8d7da;
    color: #721c24;
}

.cycle-colours-messages {
    background-color: #d4edda;
    color: #155724;
    font-style: italic;
}

.cycle-colours-errors,
.cycle-colours-messages {
    padding: 10px;
    border-radius: 5px;
    font-size: 40px;
    text-wrap: wrap;

    p {
        font: 400 16px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    }
}

.cycle-colours-buttons-wrap {
    display: flex;
    flex-direction: row;
    width: 100%;

}

.cycle-colours-welcome-button {
    background-color: #0f1383;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 3px 10px rgba(248, 248, 148, 0.9), 0px 5px 8px rgba(42, 38, 255, 0.9);
    margin-bottom: 10px;
    transition: transform 0.2s ease, background-color 0.2s ease, box-shadow 0.2s ease;
}

.cycle-colours-welcome-button.active {
    border-radius: 50%;
    background-color: #a8a7d1;
    box-shadow: none;
}

.cycle-colours-welcome-text {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    background-color: #f0f8ff;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    margin: 0;
    box-shadow: 0px 2px 5px rgba(8, 4, 248, 0.1);
    transition: margin-bottom 0.75s ease, opacity 1.5s ease, max-height 1s ease;
}

.cycle-colours-welcome-text.active {
    opacity: 1;
    max-height: 500px;
    margin-bottom: 1rem;
}

.cycle-colours-toggle-button {
    background-color: #6f708e;
    color: white;
    border: none;
    font-size: smaller;
    padding: 5px 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.2s ease, box-shadow 0.2s ease;
}

/*.cycle-colours-toggle-button.active {
    border-radius: 50%;
    background-color: #a8a7d1;
}*/

.cycle-colours-toggle-text {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    padding: 0.5rem 0rem;
    border-radius: 5px;
    margin: 0;
    transition: margin-bottom 0.75s ease, opacity 1.5s ease, max-height 1s ease;
}

.cycle-colours-toggle-text.active {
    opacity: 1;
    max-height: 500px;
}

.cycle-colours-table-styling {
    display: contents;

    td {
        border: solid 1px #ddd;
        color: rgb(65, 48, 194);
        background-color: rgb(244, 244, 185);
        justify-content: center;
        text-align: center;

    }
}